body{
    background-color: #e9ecf2;
}

.login-form{
    background-color: #ffffff;
    border: 1px solid rgba(161, 161, 161, 0.32);
    margin: auto;
    width: 400px;
    margin-top: 100px;
    padding: 20px;
}

h3{

    margin-left: 40px;
    margin-bottom: 30px;
}

#login-user, #login-pass{

    padding:10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgba(161, 161, 161, 0.51);
}

input:focus{

    outline: none;
}

.btn-login{

    margin-top: 20px;
    width: 100%;
    border-radius: 0px;
}

input {
    border-radius: 0px;
}

p{
    margin-top: 5px;
}