.navbar{
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-header{
    margin-left: 30px
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;

    }
}

.dropdown-menu>li>a {
    padding: 5px 25px;
}


.content {
    position: relative;

}

#menu-btn{
    padding: 4px 8px 4px 6px;
    font-size: small;
    cursor: pointer;
    margin-top: -3px;
    margin-left: 20px;
    color: #489EE7;
}

#menu-btn span {
    font-size: large;

}

.menu-content{
    z-index: 1;
    display: none;
    position: absolute;
    top: 60px;
    left: 70px;
    width: 616px;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background-color: #fff;
}

.menu-content2{
    margin: 3px;
    border: 1px solid #dce1ea;
    height: 242px;
    border-radius: 6px;
}

.item{
    margin-top: 30px;
}

.item a img{
    margin-left: 10px;
    margin-bottom: 5px;
}


.tooltip-menu {
    position: relative;
    display: inline-block;
}

.tooltip-content2 {
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding: 0px;
}
.tooltip-content2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 80px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #dce1ea transparent;
}
