body {
    overflow-x: hidden;
    background-color: white;
}

button {
    border-radius: 0;
}

.content2 {
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

.box-header {
    background: white;
    color: #34383c;
    font-size: 16px;
    border-bottom: 1px solid #dbdee0;
    height: 40px;
}

.blue {
    color: #428BCA;
}

.box-header h2 {

    float: left;
    padding: 10px 0px;
    margin: 0px 0px 0px -10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

/* Category css */
.category {
    position: fixed;
    top: 200px;
    right: -136px;
    z-index: 6;
    width: 300px;
    height: 40px;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

#open-subcategory, #open-category {
    border-radius: 0px;
}

#show-category, #show-subcategory {
    display: none;
    z-index: 1060;
    height: 500px;
    position: absolute;
    top: 80px;
    right: 0;
    width: 540px;
    border: 1px solid #d8d8d8;
    background: #FFF;
    padding: 10px 10px;
    font-size: x-small;
    font-weight: bold;
}

.top-show {
    float: left;
    height: 30px;
    border-bottom: 1px solid #dce1ea;
}

#category-list, #subcatgegory-list {
}

.btn-prni {
    margin-top: 5px;
}

.btn-prni span {
    display: table-cell;
    height: 25px;
    line-height: 15px;
    vertical-align: middle;
    text-transform: uppercase;
    width: 54px;
    min-width: 94px;
    overflow: hidden;
}

.owl-pagination {
    display: none;
}

/* Left-div css */

.left-div {
    background-color: white;
    width: 665px;
    height: 550px;
    min-width: 400px;
    padding: 10px 10px 5px 10px;
    float: left;

}

#title-search {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.left-middle {
    height: 365px;
    overflow-y: scroll;
}

#list-products {
    font-size: small;
}

.left-middle table {
    margin-top: 0px;
    margin-bottom: 0px;
}

.left-middle table thead {
    background-color: #489EE7;
}

.left-middle table thead th {
    text-align: center;
    font-size: small;
    color: white;
}

#botbuttons button {
    border-radius: 0px;
}

.left-bottom {
}
.zoom-in {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #dce1ea;
    width: 655px;
    height: 220px;
}

.zoom-in span#btn-down {
    margin: auto;
    color: white;
    margin-top: 10px;
    margin-left: 7px;
}

.zoom-in .btn-zoom-in {
    background-color: #49A7E7;
    position: absolute;
    bottom: 200px;
    left: 30px;
    width: 27px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

.zoom-out {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #dce1ea;
    width: 655px;
    height: 100px;
}
.zoom-out span {
    margin: auto;
    color: white;
    margin-top: 7px;
    margin-left: 7px;
}
.zoom-out .btn-zoom-out {
    background-color: #49A7E7;
    position: absolute;
    bottom: 83px;
    left: 30px;
    width: 27px;
    height: 32px;
    border-radius: 3px;
    cursor: pointer;
}

.zoom-out button{
    border-radius: 0px;
}
#client {
    height: 156px;
    background-color: #e9ecf2;
}

#client #client-img {
    height: 100px;
    width: 175px;
    margin-top: 5px;
}

#client #client-img img {
    height: 100px;
    width: 100%;
}

/* Right div css */

.right {
    width: auto;
    margin-left: 670px;
    min-width: 420px;
}

.right-div {
    width: 100%;
    float: left;
    background: #ffffff;
}

.btn-control {

}

.right-category {
    background-color: #e9ecf2;
    height: 50px;
    position: relative;
    margin: 10px;
    margin-bottom: 5px;
}

.right-category ul {
    list-style-type: none;
}

.right-category li {
    display: inline;
    float: left;
}

.category-list {
}

#category-previous {
    display: block;
    position: absolute;
    top: 10px;
    left: -15px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#category-next {
    position: absolute;
    top: 10px;
    right: -15px;
}

#category{
    display: none;
}

#subcategory{
    display: none;
}

.right-subcategory {
    background-color: #e9ecf2;
    height: 50px;
    position: relative;
    margin: 10px;
    margin-bottom: 20px;
}

#subcategory-previous {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 10px;
    left: -15px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#subcategory-next {
    position: absolute;
    top: 10px;
    right: -15px;
}

.right-content {
    height: 480px;
}

#list-li-items {
    margin-left: -28px;
}

#list-li-items li {
    display: inline;
}

#list-li-items li img {
    width: 138px;
    height: 115px;
}

#list-li-items li p {
    margin: 0px;
    text-align: center;
}

#list-li-items li i {
    color: #3acae7;
}

#list-li-items li p#product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-items {
    height: 300px;
    margin: 5px;
    border-bottom: 1px solid #d8d8d8;
    overflow-y: scroll;
}

.list-items .btn-prni {
}

.list-items .product {
    background-color: rgba(220, 225, 234, 0.19);
    border: 1px solid #eee;
    height: 170px;
    margin: 0 0 3px 2px;
    padding: 2px;
    width: 120px;
    min-width: 100px;
    overflow: hidden;
    display: inline-block;
    font-size: 13px;
}

.list-items .product img {
    cursor: pointer;
}

.list-items .product img:hover {
    cursor: pointer;
    border: 1px solid #00aff0;
}

.list-items .product i {
    cursor: pointer;
}

.list-items .product i:hover {
    cursor: pointer;
    color: #00aff0;
}

.list-items .product span {
    font-size: x-small;
    font-weight: bold;
}

.slide-discount {

}

.product-discount {
    width: 300px;
    height: 100px;
    background-color: #dce1ea;
}

#btn-sale {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 50px;
    height: 20px;
    background-color: #ff9752;
    border-radius: 5px;
    text-align: center;
    font-size: small;
}

#btn-sale span {
    color: white;
}

div#modal {
    display: inline;
}

.icon-customer{
    border:1px solid rgba(0, 0, 255, 0.14);
    padding: 5px 7px 10px 7px;
    color: white;
    display: inline;
    cursor:pointer;
    background-color: #00aff0;
    border-radius: 2px;
    font-weight: bold;
    width: 30px;
}

.calculator{}
.calculator b{
    font-size: large;
}

.btn-action{
    margin: 20px -15px 0px -15px;
}

.btn-action button{
    border-radius: 0px;
}

.dataTable .sorting_asc:after {
    /* content: "\2191"; */
}