body{
    background-color: white;
}

a:link, a:hover, a:visited, a:active{
    text-decoration: none;
}

.box-header {
    background: white;
    color: #34383c;
    font-size: 16px;
    border-bottom: 1px solid #dbdee0;
    height: 40px;
}

.blue {
    color: #428BCA!important;
}

.box-header i{
    padding: 12px 0px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: -10px -10px -10px -20px;
    font-size: 16px;
}

.box-header h2 {
    float: left;
    padding: 10px 0px;
    margin: 0px 0px 0px 20px;
}

.box-header .dropdown .dropdown-menu {
    left: auto;
    right: 10px;
    top:40px;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

h2 span {
    cursor: pointer;
}

.box-content {
    padding: 0px 20px;
    background: white;
}

.box-content form{
    margin: 20px;
}

.introtext {
    background: #F9F9F9;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #DBDEE0;
}



.input-control.text, .input-control.select, .input-control.file, .input-control.password, .input-control.number, .input-control.email, .input-control.tel {
    width: 40%;
}

.top-content li div{
    border: 1px solid blue;
    height: 50px;
    padding-top: 12px;
}
.top-content li div b{
    margin: 20px;
}

ul li{
    list-style: none;
}

#list-orders_filter{
    margin-bottom: -5px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 7px 10px;
}