body{
    background-image: url("../../upload/img/layout/layout.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-body{
    position: relative;
    height: 50px;
}

.body-header{

    margin-top: 20px;
    color: white;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(0,0,0,.0001);
}
.body-content{
    clear: both;
    min-width: 1000px;
	padding: 22px;
}

a:link, a:visited, a:hover, a:active{

    text-decoration: none;
}


.item{

    height: 200px;
    width: 180px;
    margin: 20px;
    border-radius: 4px;
}

.item p{
    color: white;
    margin-top: 10px;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
    min-width: 1000px;
}

.ad{
    display: inline;
    background-color: orange;
    margin: 5px;
    width: 80px;
    height: 40px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(238,238,238,0);
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(238, 238, 238, 0);
}