body{
    background-color: white;
}

a:link, a:hover, a:visited, a:active{
    text-decoration: none;
}


.box-header {
    background: white;
    color: #34383c;
    font-size: 16px;
    border-bottom: 1px solid #dbdee0;
    height: 40px;
}

.blue {
    color: #428BCA!important;
}

.box-header i{
    border-right: 1px solid #dbdee0;
    padding: 12px 0px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: -10px 20px -10px -20px;
    font-size: 16px;
}
.box-header h2 {
    float: left;
    padding: 10px 0px;
    margin: 0px 0px 0px 20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

h2 {

}

.box-content {
    padding: 0 20px 20px 20px;
    background: white;
}
.box-content table{
    font-size: small;
}
.box-content .introtext {
    background: #F9F9F9;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #DBDEE0;
}
.box-content .introtext button {
    border: 1px solid #00aff0;
    border-radius: 0px;

    color: #00aff0;
}
.box-content .form-control {
    border-radius: 0;
}

.user-tool{
    background-color: white;
    height: 100px;
    margin: 15px;
}

#user-search-tool{
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    background: #e9ecf2;
    border: 1px;
    border-left: 1px solid #3c763d;
    width: 220px;
}

.modal-dialog {
    width: 90%;
}

.input-modal{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}

#user-add{
    width: 90%;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 1px 10px;
    vertical-align: middle;
}

#img-avatar{
    border: 1px solid rgba(187, 187, 187, 0.44);
    width: 300px;
    height: 370px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 7px 10px;
}