body{
    background-color: white;
}

a:link, a:focus, a:hover {
    text-decoration: none;
}

table{
    text-align: center;
}

.discount-tool{
    background-color: white;
    height: 100px;
    margin: 15px;
}

#discount-search-tool{
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    background: #e9ecf2;
    border: 1px;
    border-left: 1px solid #3c763d;
    width: 220px;
}

.discount-list{
    background-color: white;
    margin: 15px;
    border: 1px solid #dce1ea;
}

a:link, a:hover, a:visited, a:active{
    text-decoration: none;
}

.box-header {
    background: white;
    color: #34383c;
    font-size: 16px;
    border-bottom: 1px solid #dbdee0;
    height: 40px;
}

.blue {
    color: #428BCA!important;
}

.box-header i{
    border-right: 1px solid #dbdee0;
    padding: 12px 0px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: -10px 20px -10px -20px;
    font-size: 16px;
}

.box-header h2 {
    float: left;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.box-content {
    padding: 20px;
    background: white;
}

.introtext {
    background: #F9F9F9;
    padding: 10px;
    margin: 20px -20px 20px -20px;
    border-bottom: 1px solid #DBDEE0;
}

.box-content .form-control {
    border-radius: 0;
}

#list-discounts thead th{
    text-align: center;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 7px 10px;
}