body{
    background-color: white;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.title{

    margin: 10px;
}

.product-tool{
    background-color: white;
    height: 100px;
    margin: 20px;
}

#categories-create a{
    color: white;
}

.product-list{
    background-color: white;

}

.product-list .nav, .tab-content {
    margin:20px;
}


.product-list table{
    font-family: 'Helvetica Neue', 'Nunito', sans-serif;
    font-size: 13px;
}

.product-list h3{
    font-family: 'Helvetica Neue', 'Nunito', sans-serif;
    margin-left: 10px;
    margin-right: 20px;
}

#delete-product-form button{
    font-size: x-small;
}

.modal-dialog {
    width: 50%;
}


/* Category css*/

.panel, .panel-header{
    width: 100%;
}

.panel-header{}

.panel-body{
    width: 100%;
}


.datagrid-body {
    overflow-x: hidden;
}

/**/

.pagination-prev {
    background: url('../../upload/product/icon/pagination_icons.png') no-repeat -16px center;
}
/* Category*/

.category-list{
    margin: 3px;
}


/*Create Product*/

.box-header {
    background: white;
    color: #34383c;
    font-size: 16px;
    border-bottom: 1px solid #dbdee0;
    height: 40px;
}

.blue {
    color: #428BCA!important;
}

.box-header i{
    padding: 12px 0px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: -10px -10px -10px -20px;
    font-size: 16px;
}

.box-header h2 {
    float: left;
    padding: 10px 0px;
    margin: 0px 0px 0px 20px;
}

.box-header .dropdown .dropdown-menu {
    left: auto;
    right: 10px;
    top:40px;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.box-content {
    padding: 0px 20px;
    background: white;
}

.introtext {
    background: #F9F9F9;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #DBDEE0;
}

.box-content .form-control {
    border-radius: 0;
}

.img-default{

}

.upload-image{
    font-weight: bold;
}

.upload-image p{
    border: 1px solid #C8C8C8;
    margin-bottom: 10px;
    color: #00aff0;
    text-align: center;
}

.upload-image label{
    border: 1px solid #C8C8C8;
    width: 30%;
    height: 131.5px;
}
/*Product info*/
#owl-image .item{
    margin: 3px;
}
#owl-image .item img{
    display: block;
    width: 100%;
    height: auto;
}

.dropdown-menu>li>a {
    padding: 5px 25px;
    color: #428BCA!important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.table td:first-child {
    padding: 1px;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 1px 8px;
}

#list-products_filter{
    margin-top: -10px;
}

#list-products_filter label{
    display: none;
    position: absolute;
    top: -55px;
    right: 80px;
}
#list-products_length{
    display: none;
}
