body{
    background-color: white;
}

button span{
    color: #489EE7;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

table{
    font-family: monospace;
}

.box-header {
    background: white;
    color: #34383c;
    font-size: 16px;
    border-bottom: 1px solid #dbdee0;
    height: 40px;
}

.blue {
    color: #428BCA!important;
}

.box-header i{
    padding: 12px 0px;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin: -10px -10px -10px -20px;
    font-size: 16px;
}

.box-header h2 {
    float: left;
    padding: 10px 0px;
    margin: 0px 0px 0px 20px;
}

.box-header .dropdown .dropdown-menu {
    left: auto;
    right: 10px;
    top:40px;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

.box-content {
    padding: 0px 20px;
    background: white;
}

.introtext {
    background: #F9F9F9;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #DBDEE0;
}

.tab-pane{
    margin: 20px;
}

.btn-submit{
    margin-top: 20px;
}

#sale .first-label{
    font-size: large;
}

#sale div label{
    margin-right: 20px;
}

.nav-tabs>li>a {
    border: 1px solid #e2dada;
}